* {
    box-sizing: border-box;
    --size: 8vmin;
    font-weight: 900;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(72, 79, 93);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 0.1em 0.2em #000, 0.1em 0.2em 0.5em #00000079;
    user-select: none;
}

canvas,
.gameFilter {
    max-height: min(calc(100% - var(--size) - 5%), (35vw - 10vmin) * 1.73);
    aspect-ratio: 1.7;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: rgb(101, 112, 99);
    box-shadow: inset 0 0 7vmin -4vmin, inset 0 0 1vmin 0 #0000004a, 0 -2vmin 3vmin -2vmin #000000b9, 0 1.5vmin 2vmin -2vmin #ffffff9a;
    border-radius: 1vw/50vh;
    border-top-left-radius: 1vmin;
    border-top-right-radius: 1vmin;
    transform: translateY(calc(var(--size) * -0.25));
}


.gameFilter {
    background-color: transparent;
    box-shadow: unset;
}

.gameFilter::before {
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(90deg, #00000017 50%, transparent 50.001%), linear-gradient(0, #00000008 30%, transparent 100.001%);
    inset: 0;
    margin: auto;
    z-index: 1;
    mix-blend-mode: soft-light;
    background-size: 1vmin, 100% 15vh;
    background-repeat: repeat, no-repeat;
    border-radius: inherit;
    animation: scanLines infinite 8s linear;
}

@keyframes scanLines {
    0% {
        background-position: 0px 0, 0 -15vh;
    }

    100% {
        background-position: 10vmin 0, 0 120%;
    }
}

.nokia {
    width: 95%;
    margin: auto;
    position: relative;
    height: 100vh;
    border-radius: 10vw/60vh;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: inset var(--size) #f3f7ff;
    border-left-width: calc(var(--size)*0.7);
    border-right-width: calc(var(--size)*0.7);
    border-top-width: 0px;
    box-shadow: inset 0 -0.2vmin 0 0.2vmin #0000007d, inset 0 2vmin 4vmin -1.5vmin #ffffff96, 0 0.5vmin 0 0.2vmin #0000007d;
}

.nokia::after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgb(255, 255, 255);
    inset: 0;
    top: auto;
    margin: auto;
    border-radius: 65vw/8vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 70vw;
    height: 4vh;
    box-shadow: 0 -0.2vmin 0 0.2vmin #0000007d, 0 -1.2vmin 1vmin #0000001d;
}

.nokia::before {
    content: "Rokia";
    display: block;
    text-align: center;
    font-size: 4vmax;
    line-height: calc(100vh - 75vw);
    pointer-events: none;
    text-transform: uppercase;
}

.startBtn,
.optionBtn {
    transition: 0.2s;
    position: fixed;
    margin: auto;
    inset: 0;
    top: auto;
    background-color: gray;
    height: calc(var(--size)*0.8);
    aspect-ratio: 5;
    border-radius: 3vmin/9vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 0.8vmin 1vmin 1vmin rgb(0 0 0 / 28%);
    border: 0.5vmin solid #000;
    border-style: outset;
    border-bottom-width: 0;
    text-align: center;
    font-size: calc(var(--size)*0.8);
    line-height: 100%;

    opacity: 0.3;
}

.startBtn:hover,
.optionBtn:hover {
    background-color: rgb(137, 137, 137);
    cursor: pointer;
    transform: scale(1.02);
}

.startBtn:active,
.optionBtn:active {
    background-color: rgb(110, 110, 110);
    cursor: pointer;
    transform: scale(0.98);
}

.glowup:not(:active) {
    opacity: 1;
    animation: glowup 1s infinite alternate ease-in;
}

@keyframes glowup {
    0% {
        filter: drop-shadow(0 0 2vmin #fff) drop-shadow(0 0 0 #fff) drop-shadow(0 0 0 #fff) drop-shadow(0 0 2vmin #ffeea2) drop-shadow(0 0 3vmin gold) drop-shadow(0 0 4vmin rgb(255, 132, 0))
    }

    100% {
        filter: drop-shadow(0 0 0 rgba(255, 255, 255, 0));
    }
}

.gameFilter.walls {
    border: 1vmin dashed rgba(0, 0, 0, 0.516);
    animation: walls 1s ease-in-out infinite alternate;
}

@keyframes walls {
    100% {

        border-color: transparent;
    }
}


.optionBtn {
    opacity: 1;
    left: calc(32vw + var(--size) * 5);
    --size: 4.5vmin;
    border-color: green;
}

.optionBtn.off {
    border-color: darkred;
}